@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: raleway, sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
/* header design*/
.header {
  background-color: #ecf9ff;
  padding: 50px 135px;
  background-image: url("./assets/img/Group.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}
/* navigation menu design*/

.navbar {
  z-index: 100;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  width: 1170px;
  top: 50px;
  border-radius: 10px;
  height: 100px;
  list-style: none;
 
}

.logo {
  padding-left: 30px;
}

.navbar .menu {
  display: flex;
  gap: 50px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu li {
  position: relative;
}

.navbar li {
  cursor: pointer;
}

.navbar .menu a {
  color: #828297;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
}
.navbar .menu .active {
  color: #00e5cc;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.navbar .menu li a::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: gray;
  transition: 0.4s ease-in-out;
}
.navbar .menu li a:hover::after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
#check {
  display: none;
}
/* navigation auth design*/

.navbar .sign-in {
  color: #000;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
}
.navbar .btn {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: #060640;
  text-decoration: none;
  margin-right: 30px;
}

.navbar .btn a {
  color: #fff;
}

/* Header  design*/

.main-header {
  display: flex;
  padding-top: 200px;
  align-items: center;
  justify-content: space-between;
  background-image: url("./assets/img/13.svg");
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

.title-section {
  width: 423px;
}

.title-section h1 {
  color: #060640;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
}

.title-section p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

.d-flex-btn {
  display: flex;
  align-items: center;
}

.d-flex-btn button {
  padding: 15px 35px 15px 36px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #060640;
  cursor: pointer;
}

.d-flex-btn button a {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-decoration: none;
}
.d-flex-btn .video-icon {
  margin-top: 30px;
}

.title-section .comment {
  margin-left: -30px;
}

/*Work section  design*/

.process {
  margin: 110px 135px;
}

.process .title-section {
  margin: auto;
}
.process .title-section h1 {
  color: #060640;
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}
.process .title-section p {
  color: #9090a7;
  text-align: center;
  font-family: "Airbnb Cereal App";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.process .process-items {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.process .process-items .process-item {
  width: 370px;
  height: 308px;
  flex-shrink: 0;
  border-radius: 14px;
  padding: 30px;
  background: #fbf6f6;
  box-shadow: 0px 1px 2px 0px #f1f1f4;
}

.process .process-items .sp-process-item {
  width: 370px;
  height: 308px;
  flex-shrink: 0;
  border-radius: 14px;
  padding: 30px;
  background: #fff;
  box-shadow: 0px 1px 2px #dcd9d9;
}

.process .process-items .process-item img,
.sp-process-item img {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(236, 249, 255, 0.8);
  padding: 10px;
}

.process-item h2,
.sp-process-item h2 {
  color: #060640;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  padding: 50px 0px 10px 0;
}

.process-item p,
.sp-process-item p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/*About section  design*/

.about {
  display: flex;
  justify-content: space-between;
  margin: 110px 135px;
}

.about .frame-1 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.about .frame-1,
.about .frame-2 {
  display: flex;
  gap: 25px;
}

.frame-1 .image,
.frame-2 .image {
  border-radius: 12px;
  background: rgba(236, 249, 255, 0.8);
}

.frame-1 .image img,
.frame-2 .image img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  padding: 10px;
}
.frame-1 .pera h3,
.frame-2 .pera h3 {
  color: #060640;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.frame-1 .pera p,
.frame-2 .pera p {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 5px 20px 0 0;
}

.about-image {
  position: relative;
}

.child {
  position: absolute;
  left: -200px;
  top: 55%;
}

/*
Services section design

*/

.services {
  margin: 60px 0 0 0;
  background-color: #ecf9ff;
  background-image: url("./assets/img/Group.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}
.services .title-section {
  padding: 105px 0 0px 135px;
}

.services .title-section h1 {
  width: 500px;
  color: #060640;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
}

.services-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 105px 135px 110px 135px;
}

.services .services-item {
  width: 370px;
  height: 436px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.services .services-item img,
.sp-services-item img {
  border-radius: 14px;
}

.sp-services-item {
  width: 370px;
  height: 436px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid #fff;
  background: #fff;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.services-item h3,
.sp-services-item h3 {
  width: 291px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 5px;
}
.services .img-collage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 0;
  margin-left: -15px;
}

.services .img-collage .image {
  display: flex;
  align-items: center;
}

.services .img-collage .image p,
.services .sp-services-item .img-collage .image p {
  color: #9090a7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: -20px;
}

.services .img-collage p,
.services .sp-services-item .img-collage p {
  color: #00e5cc;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/*
Global Communication section design

*/

.global-communication {
  margin-bottom: 200px;
}

.global-communication .title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 110px 0;
  width: 100%;
}

.global-communication .title-section h1,
.global-communication .title-section p {
  width: 764px;
  margin: auto;
  text-align: center;
}
.global-communication .title-section p {
  padding-top: 10px;
}

.global-promotion {
  margin: 0px 235px 110px 235px;
  background-image: url("./assets/img/Frame.svg");
}

.global-promotion .group-Gl {
  transform: translateX(-12%);
}

/* newslatter design*/

.newsletter {
  max-width: 1170px;
  background-color: #ecf9ff;
  margin: auto;
  background-image: url("./assets/img/Group.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  border-radius: 16px;
  position: relative;
}

.newsletter .title-section {
  width: 100%;
  text-align: start;
  padding: 60px 60px 40px 60px;
}

.newsletter .title-section p {
  width: 668px;
}
.posi {
  position: absolute;
  right: 36px;
  bottom: 0px;
  width: 353px;
  height: 436px;
  flex-shrink: 0;
  margin-top: 110px;
}

.subscribe {
  border-radius: 6px;
  padding-bottom: 60px;
  margin-bottom: 110px;
}

.subscribe input {
  display: block;
  width: 600px;
  height: 78px;
  flex-shrink: 0;
  margin-left: 60px;
  padding: 20px 31px;
  border-radius: 6px;
  border: none;
  position: relative;
}
::placeholder {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.subscribe button {
  display: inline-flex;
  height: 60px;
  padding: 0px 42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: #060640;
  position: absolute;
  right: 520px;
  bottom: 70px;
  cursor: pointer;
  border: none;
}
.subscribe button a {
  text-decoration: none;
  color: white;
}

.top-footer {
  background-color: #060640;
  padding: 70px 135px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.top-footer .logo-font {
  width: 300px;
  color: white;
  margin-top: -10px !important;
}
.top-footer .logo-font p {
  padding: 20px 0;
}

.quick h3,
.company h3,
.info h3 {
  color: white;
  list-style: none;
  font-size: 22px;
  font-style: bold;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  text-align: center;
}

.quick li,
.company li,
.info li {
  padding: 10px 0;
  list-style: none;
  text-align: center;
}

.quick a,
.company a,
.info a {
  color: #9090a7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  
}

.btm-footer {
  background-color: #000020;
  display: flex;
  justify-content: space-between;
  padding: 27px 136px;
  color: white;
}
.btm-footer span {
  color: #00e5cc;
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 600px;
  }

  .navbar {
    margin-left: -110px !important;
    justify-content: space-between;
    width: 90%;
  }

  .menu {
    background-color: #dcd9d9;
    position: fixed;
    top: 130px;
    right: 0%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
  }

  .auth {
    text-align: center;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 7%;
    background-color: #dcd9d9;
    padding-left: 20px;
  }

  .menu,
  .auth {
    right: -100%;
    top: -100%;
  }

  .navbar .open-menu {
    display: block;
    right: 0;
    margin-right: 20px;
  }

  .navbar nav .close-menu {
    display: block;
    visibility: visible !important;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #check {
    display: block;
    opacity: 0;
  }

  .open-menu {
    padding: 20px;
  }

  #check:checked ~ .menu {
    right: 15px;
    top: 150px;
    transition: 0.5s ease-in-out;
  }
  .btn {
    margin-left: 40px;
  }

  .main-header {
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .image-section img {
    width: 450px;
    padding: 10px;
  }

  .title-section h1 {
    font-size: 45px;
  }

  .title-section p {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .main-header .d-flex-btn {
    justify-content: center;
  }
  .main-header .comment img {
    width: 100%;
    padding-left: 30px;
  }

  .process-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;
    margin-left: -105px;
    gap: 20px;
  }

  .process .title-section {
    margin-left: -155px;
  }

  .process .process-item,
  .sp-process-item {
    max-width: 350px;
    margin-left: -10px;
  }

  .about {
    max-width: 600px;
    margin: auto;
    text-align: center;
    flex-direction: column-reverse;
  }
  .about .title-section {
    padding-top: 150px;

    margin: -20px;
  }
  .about .title-section p {
    text-align: justify;
  }

  .about .about-image img {
    width: 300px;
  }

  .about .about-image .parent {
    position: relative;
  }

  .about .about-image .child {
    position: absolute;
    left: -50px;
    bottom: 0;
  }

  .about-frame {
    margin-top: 50px;
  }

  .frame-1,
  .frame-2 {
    flex-direction: column;
    padding-left: 10px;
  }

  .frame-1 .image,
  .frame-2 .image {
    width: 20%;
    margin: auto;
  }

  .services .title-section h1 {
    width: 500px;
    transform: translateX(-110px);
    font-size: 40px !important;
  }

  .services-items {
    flex-direction: column;
    gap: 10px;
  }

  .services-item,
  .sp-services-item {
    width: 350px !important;
  }
  .fst {
    width: 320px;
  }

  .global-communication {
    max-width: 600px;
  }

  .global-communication .title-section h1 {
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    transform: translateX(-110px);
    font-size: 40px;
  }

  .global-communication .title-section p {
    width: 350px;
    text-align: justify;
  }
  .global-promotion img {
    width: 600px;
    margin-left: -250px;
  }

  .newsletter {
    flex-direction: column;
    width: 600px;
    transform: translateY(-150px);
    margin-bottom: 300px;
  }

  .newsletter .title-section h1 {
    width: 300px;
    font-size: 40px;
    text-align: center;
  }
  .newsletter .title-section p {
    padding-top: 20px;
    width: 330px;
    transform: translateX(-100px);
    text-align: justify;
  }

  .subscribe input {
    width: 55%;
    transform: translateX(-30px);
    margin-bottom: 10px;
  }

  .subscribe button {
    left: 44%;
    bottom: 80px;
    width: 30px;
    height: 60px;
  }

  .posi {
    top: 350px;
    left: 20px;
  }
  .top-footer {
    flex-direction: column;
    justify-content: center;
  }

  .logo-font p {
    width: 350px;
    text-align: center;
    transform: translateX(-110px);
  }

  .quick {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info {
    width: 400px;
    text-align: center;
    transform: translateX(-150px);
  }

  .btm-footer {
    flex-wrap: wrap;
    gap: 30px;
    width: 600px;
  }
}

@media screen and (min-width: 601px) and (max-width: 920px) {
 .wrapper{
  width: 920px;
 }
  .navbar{
  position: fixed;
  width:93%;
  transform: translate(-100px);
  gap: 10px;

  }

  .menu li{
    margin: -15px;
  }

  .btn{
    width: 100px;
    height: 50px;
  }

  .main-header{
    margin-left: -100px;
    flex-direction: column;
    text-align: center;
  }
  .d-flex-btn{
    justify-content: center;
  }

  .process .title-section{
    transform: translateX(-50px);
  }
  .process-items{
   
    flex-direction: column;
   align-items: center;
    margin-left: -110px;
    gap: 30px;
    }

    .process-item,.sp-process-item{
      width: 700px !important;
    }

    .about{
      margin: auto;
      padding: 50px;
    }
    .frame-1,.frame-2{
      width: 400px;
      flex-direction: column;
     
    }

    .frame-1 .image,.frame-2 .image{
      width: 15%;
    }

    .about-image{
     
      transform: translate(-60px,100px);
    }

    .about-image .parent{
      width: 400px;
    }

    .about-image .child{
      top: 40%;
      left: -70px;
    }
    .services .title-section{

      text-align: center;
    }
    .services-items{
    flex-wrap: wrap;
      margin-left: -100px;
      gap: 10px;
    }

   
  
 .global-communication{
  flex-direction: column;
  align-items: center;
 }

 .global-communication .title-section{
  flex-direction: column;
  align-items: center;
  margin-left:-70px;
 }

 .global-communication .title-section p{
  width: 600px;
 }
 .global-promotion{
  margin-left: -30px;
  padding: 20px;
 }
 .global-promotion img{
  width: 1200px;
 }

 .newsletter .title-section ,.subscribe{
  margin-left: -20px;
 }

 .newsletter .title-section p{
  width: 500px;
 }

 .newsletter .posi{
  width: 270px 
  
 
 }
 .posi{
  right:  120px;
  bottom: 0;
  
 }

 .subscribe input{
  width: 50%;
  margin-right: -10px;
 }

 .subscribe button{
  left: 45%;
 }

 .top-footer{
  margin-left: -100px;
 
  
 }
 .info{
  padding-right: 10px;
 }

 .btm-footer{
  margin-left: -100px;

 }
   
}
